@import '../styles/utils.scss';

.book-basket{   
    display: flex;
    justify-content: start;     
    margin: 0;    
    width: 100%;
    height: 100%;    
    background-size:contain;
    @include rounded;
    background-color: $backgroundWhite;
    overflow-y: scroll;
    -ms-overflow-style: none;
    &::-webkit-scrollbar{ display:none; };
    padding:3vh;
    flex-wrap:wrap;
    
    .no-result{                
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .basket-card{        
        background-color: pink;         
        margin: 1vw;
        width: 150px;
        height: 260px;
        @include rounded;
        
        a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            
            
            img{                               
                @include rounded;
                width: 100%;
                
            }
            
            .content{
                position: relative;
                background-color: white;                      
                color: black;                     
                width: 90%;
                top:-50px;
                border-radius: 12px;
                transition: .3s ease-in-out;
                opacity: 0;

                span{
                    display: block;    
                    overflow:hidden;   
                    white-space:nowrap;
                    text-overflow:ellipsis;                                 
                }

                .title{
                    font-size: large;
                    font-family: $dohyeon;
                }
            }            

            &:hover .content{
                opacity: 1;
                transform: translateY(-10px);
                
            }
        }
        
        .button-box{
            display: flex;
            position: relative;
            top: -50px;
            justify-content: space-around;

            .icon{
                color: white;
            }
        }

    
    }

    
}

