@import '../styles/utils.scss';

.book-search{   
    display: flex; 
    margin: 0;    
    width: 100%;
    height: 100%;    
    background-size:contain;
    @include rounded;
    background-color: $backgroundWhite;
    
    .SearchBar{
        position: fixed;                
        width: 100%;
        
        input{
            position: absolute;            
            left: 20%;
            top:10px;
            height: 50px;
            width: 40vw;
            background-color: white;
            padding-left: 4%;            
            @include rounded;
            box-shadow: $shadow rgba(32, 32, 32, 0.329);         
            font-size: 20px;
        }

        .icon{
            position: relative;
            top:27px;
            left: 22%;
            color: rgb(177, 177, 177);
            z-index: 1;
            cursor: pointer;
            
        }        
    }
    
    .BookDetail{                   
        display: flex;
        flex-direction: column;                     
        justify-content: center;  
        align-items: center;      
        flex-basis : 60%;
        border-top-left-radius: $radius;   
        border-bottom-left-radius: $radius;           
        
        .bookInfo{
            display: flex;
            justify-content: space-around;
            align-items: center;                            
            width: 90%;
            
            .bookInfo-thumbnail{
                
                display: flex;
                flex-direction: column;                
                align-items: center;
                width: 40%;                
                
                img{                    
                    width: 75%;                
                    border-radius: 20px;
                    box-shadow: $shadow rgba(255, 99, 99, 0.2);
                }

                .button-box{                                
                    width: 100%;                    
                    display: flex;                                          
                    justify-content: center;                    
                    
                    .icon{
                        margin: 30px 10px;
                        padding: 10px;
                        font-size:40px;                        
                        border-radius: 30%;
                    }

                    .like{
                        color:$mainColor;     
                        border: 1px solid $mainColor;         
                                   
                    }

                    .unlike{
                        color:pink;
                        border: 2px dotted pink;                        
                    }

                    .penceil{
                        color:pink;
                        border: 2px dotted $mainColor;                        
                    }
                }
            }
            

            .bookInfo-content{                
                width: 50%;

                span{
                    display: block;
                    margin: 1vh 0;
                }
                
                .title{
                    font-size: 2.3vw;
                    line-height:2.5vw;
                    font-family: $dohyeon;
                }

                .author{
                    font-size: 1.2vw;
                    color: $middleGray;
                }

                .description{
                    a{
                        color: $mainColor;
                    }
                }

                .price{
                    span{
                        display: inline-block;
                        background-color: pink;
                        color: white;
                        border-radius: 15px;
                        font-size: 10px;
                        text-align: center;
                        width: 40px;
                    }
                }
                
            }
        }

        
    }
    
    .BookSearchList{                
        background-color: $pageRightSideColor;
        flex-basis : 40%;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
        padding: 50px 0 0 0;
        overflow-y: scroll;
        -ms-overflow-style: none;
        &::-webkit-scrollbar{ display:none; }
        
        .BookCard{
            display: flex;            
            align-items: center;
            justify-content: space-around;
            width: 80%;
            height: 120px;
            margin: 10px auto;
            padding: 5px;
            border-radius: 15px;
            cursor: pointer;
            transition: 0.3s;            

            &:hover{
                background-color: $backgroundWhite;
            }

            img{
                height: 90%;
                border-radius: 10px;
            }

            .content{
                width: 70%;
                display: flex;
                flex-direction: column;
                span{                    
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;                    
                }

                .title{
                    font-size: large;
                    font-family: $dohyeon;
                }
            }
        }

        .selected{            
            transform: translateX(-10%);
            background-color: white;            
        }

        .no-search-result{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 92%;
            
        }
        
       
    }
    
}

