@import './utils.scss';

.book-diary-container{    
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    overflow-y: scroll;
    -ms-overflow-style: none;
    &::-webkit-scrollbar{ display:none; };

    .diary{        
        width:50vh;
        overflow: hidden;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        flex-wrap: nowrap;   
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
        border: 1px  $diaryColor solid;
       
        header{
            font-family: $nanum;
            display: flex;
            flex-direction: column;
            background-color: $diaryColor;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            height: 8vh;

            .title{
                font-size: 2.5vh;
                color: rgb(66, 66, 66);
            }
            .date{
                width: 95%;
                text-align: right;
                color:rgba(168, 108, 108, 0.712);
            }

        }
        
      .image-carousel{
        
        display: flex;
        justify-content: space-around;

        .blank{
            width: 20px;
            display: flex;
            align-items: center;
            cursor: pointer;
          
        }
        .slider {
            width: 40vh;
            overflow: hidden;
            
            
            span{
                display: inline-block;
                text-align: center;
                position: relative;
                @include rounded;
                top:-39vh;
                left: 33vh;
                width: 40px;
                color: white;
                font-size: 0.8em;
                background-color: rgba(128, 128, 128, 0.795);
            }
            .image-wrap{                          
                display: flex;
                overflow:hidden;   
                flex-wrap: nowrap;    
                height: 40vh; 
                
                 img, .carousel-div{
                    @include rounded;
                     width: 40vh; 
                     height: 40vh;
                 }

                 .carousel-div{
                     background-color: rgb(238, 247, 255);
                     display: flex;
                     justify-content: center;
                     align-items: center;

                 }
             }
        }          
      }

      section{
          padding: 2vh;
          background-color: $diaryColor;

          span{
              cursor: pointer;
              color:  rgba(128, 128, 128, 0.795);;
          }

      }
    }
}