@import './utils.scss';

// applayout

.container{
        margin:auto ;
        display:flex;
        justify-content:space-around;
        align-items: center;
        width:98vw;
        height:98vh;
        background-color : $mainColor;
        @include rounded;

        nav {
                display: flex;
                flex-direction: column;
                width:10%;        
                height: 90%;
                justify-content:space-between;
                
                .title{
                        font-family: $ballo;
                        font-size: 3vw;
                        line-height: 3vw;
                        text-align: center;
                        a{
                                color: white;
                        }
                        
                        
                }

                .menu{
                        color: white;
                }
        }
        
        section{
                background-color: $backgroundWhite;
        }
        
        .main{
                width:85%;              
                height:95%; 
                display: flex;
                justify-content: center;
                align-items: center;
                @include rounded;
        }
}

