@import './utils.scss';

.post-form{
    position: absolute;
    top: 12%;
    left: 30%;
    width: 60%;
    height: 70%;
    background-color: white;
    @include rounded;
    box-shadow: $shadow rgba(119, 119, 119, 0.329);   

    .head{
        background-color: pink;
        width: 100%;
        height: 30px;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;

        .icon{
            
        }
    }

    .body{
        .image{                      
            .icon{
                position: absolute;
                left: 180px; 
                cursor: pointer;
            }
        }
        
        img {
            width: 200px;
            height: 200px;
        }
    }

    .image-form{
        @include rounded;
        overflow: hidden;
        width: 200px;
        height: 200px;
        .camera-img{
            background-color: rgb(255, 247, 247);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        
    }
}