@import './utils.scss';

.post-form{
    position: absolute;
    top: 6%;
    left: 30%;
    width: 45%;
    height: 85%;
    overflow: hidden;   
    @include rounded;
    box-shadow: $shadow rgba(119, 119, 119, 0.329);   

    .head{
        background-color: pink;
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        .icon{
            position: relative;
            float: right;
            width: 50px;
            color:white;
            font-size:16px
        }
    }

    .body{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        background-color: white;

        .up-part{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 60%;
            width: 90%;

            .phrase-section{           
                display: flex;
                flex-direction: column;
                height: 100%;
                width:60%;
    
                .input-wrapper{
                    padding-top: 20px;
                    display: flex;
                    flex-direction: column;                   
                    height: 20%;
    
                    input{
                        width: 80%;
                        border-bottom: $input-bottom;
                    }    

                    .error-msg{
                        color:rgb(255, 79, 105);
                    }
                }

               .phrase-wrapper{
                   height: 80%;              
                   input{
                       width: 90%;
                   }
    
                   .phrase-item{                                
                    span{
                        display: inline-block;
                        text-overflow:ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 95%;                        
                        background-color: rgb(247, 251, 253);
                        border-radius: 10px;

                        &:hover {
                            background-color: aliceblue;                            
                        }
                    }    
                    
                  
                    
                    input{
                        border-bottom: $input-bottom;
                    }
                    .icon{                        
                        margin-top: 3px;
                        position: absolute;
                        font-size: 10px;
                    }                   

                    span:hover .icon{
                        display: none;
                    }
                    
                }
               }
               
            }
        }

        .down-part{            
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            width: 100%;
            height: 40%;
            
            textArea{
                width: 88%;
                height: 65%;
                margin-bottom: 15px;
                border: 2px solid pink;
                
                &::placeholder{
                    color: rgb(206, 200, 200)
                }
            }

            button{
                width: 100px;
                height: 25px;
                font-size: 1rem;
            }
        }

        .image-form{
            
            @include rounded;
            overflow: hidden;
            width: 200px;
            height: 200px;
    
            .image{                      
                .icon{
                    position: absolute;
                    left: 180px; 
                    cursor: pointer;
                }
    
                img {
                    width: 200px;
                    height: 200px;
                }
            }        
            
            .camera-img{
                background-color: rgb(253, 247, 247);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }        
        }

        
    }

    
}