@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

$mainColor:rgb(255, 82, 82);
$pageRightSideColor : rgb(255, 242, 242);
$lightGray : rgb(241, 241, 241);
$backgroundWhite : rgb(255, 255, 255);

$padding-normal : 3vh;



$titleFont: 'Fredoka One';
$radius : 2em;

@mixin rounded{
    border-radius: 2em;
}

input:focus { outline: none; }
input {border:none}