@import './utils.scss';

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  @include rounded;
  width: 60%;
  height: 80%;

  .title {
    /* font-family: $jua;      */
  }

  .block {
    height: 50px;
    margin: 10px 0;
    .label {
      display: inline-block;
      margin-right: 15px;
      width: 100px;
      text-align: right;
    }

    .msg {
      display: block;
      color: rgb(255, 138, 157);
      margin-left: 115px;
      font-size: small;
    }

    input {
      border-bottom: $input-bottom;
    }
  }

  button {
    width: 15%;
  }
}
